.revolution {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;

  &__title {
    color: #635C73;
    font-weight: bold;
    font-size: 26px;
    line-height: 28px;
    margin: 52px auto 27px;
    width: 273px;
    text-transform: uppercase;
  }

  &__text {
    margin: 0 22px;
    font-family: Lato, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #323232;
  }
}

.statistics {
  max-width: 320px;
  margin: 34px auto 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;


  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Lato, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #323232;
    border: 1px solid #b6b6b4;
    margin-top: 15px;
    margin-right: 10px;
  }

  &__btn svg {
    margin-right: 3px;
    width: 18px;
  }

  &__text {
    background: linear-gradient(180deg,#fcfcfc,#d3d3d3);
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    padding: 6px 7px;
    display: flex;
    align-items: center;
  }

  &__num {
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    margin: 0 5px;
  }
}


@media (min-width: 481px) {
  .container {
    max-width: 992px;
    min-width: 481px;
  }

  .revolution {

    &__title {
      width: 100%;
      font-size: 42px;
      line-height: 42px;
      margin: 88px auto 33px;
    }

    &__text {
      font-size: 21px;
      line-height: 32px;
      margin: 0 40px;
    }
  }

  .statistics {
    max-width: 100%;
  }
}