@import "globals/vars";
@import "globals/mixins";

body {
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
}
.container{
  margin: 0 auto;
  max-width: 480px;
  min-width: 320px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}
a {
  text-decoration: none;
  cursor: pointer;
}
ul, ol{
  list-style: none;
  padding: 0;
  margin: 0;
}

p {margin: 0;}

// Main styles
@import "_header/header";
@import "_revolutionary/revolutionary";
@import "_benefits/benefits";
@import "_reviews/reviews";
@import "_prices/prices";